@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

:root {
  --font-base: 'Inter', 'Roboto', 'Oxygen', arial, sans-serif;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 242, 242, 242;
  --background-end-rgb: 255, 255, 255;

  /* ------ */
  --clr-base-background: #faf9ff;
  --clr-background: #ffffff;
  --clr-background-2: #dddddd;
  --clr-foreground: #504d6e;

  --clr-primary: #becbf9;
  --clr-primary-dark: #a7b8f6;
  --clr-primary-light: #eceffd;

  --clr-secondary: #fd9d9b;
  --clr-secondary-dark: #fc817f;
  --clr-secondary-light: #fee2e1;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --shadow-primary: 0 8px 16px 5px hsla(227, 83%, 86%, 0.28);
  --shadow-secondary: 0 4px 12px 3px hsla(240, 58%, 63%, 0.133);

  --clr-button-background: linear-gradient(45deg, #b1c3ff, #e0e7ff);
}

/* @media (prefers-color-scheme: dark) { */
:root.dark {
  color-scheme: dark;

  --clr-base-background: #515151;
  --clr-background: #3e3d3d;
  --clr-background-2: #2e2d2d;
  --clr-foreground: #ffffff;

  --clr-primary: #becbf9;
  --clr-primary-dark: #a7b8f6;
  --clr-primary-light: #eceffd;

  --clr-secondary: #fd9d9b;
  --clr-secondary-dark: #fc817f;
  --clr-secondary-light: #fee2e1;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --shadow-primary: 0 8px 16px 5px hsla(227, 83%, 86%, 0.28);
  --shadow-secondary: 0 4px 12px 3px hsla(240, 58%, 63%, 0.133);

  --clr-button-background: linear-gradient(100deg, #585295, #3b5472);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: #222;
  min-height: 100%;
  padding-top: env(safe-area-inset-top);
  /* padding-bottom: env(safe-area-inset-bottom); */
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: var(--font-base);
}

body {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  font-size: 1.6em;
  color: var(--clr-foreground);
  background: var(--clr-base-background);
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  height: 100%;
  overflow: hidden;
}
