@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

:root {
  --font-base: "Inter", "Roboto", "Oxygen", arial, sans-serif;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 242, 242, 242;
  --background-end-rgb: 255, 255, 255;

  /* ------ */
  --clr-base-background: #FAF9FF;
  --clr-background: #FFFFFF;
  --clr-foreground: #504D6E;

  --clr-primary: #BECBF9;
  --clr-primary-dark: #A7B8F6;
  --clr-primary-light: #ECEFFD;

  --clr-secondary: #FD9D9B;
  --clr-secondary-dark: #FC817F;
  --clr-secondary-light: #FEE2E1;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --shadow-primary: 0 8px 16px 5px hsla(227, 83%, 86%, 0.28);
  --shadow-secondary: 0 4px 12px 3px hsla(240, 58%, 63%, 0.133);

  --clr-button-background: linear-gradient(45deg, #B1C3FF, #E0E7FF);
}


/* @media (prefers-color-scheme: dark) { */
:root.dark {
  color-scheme: dark;

  --clr-base-background: #515151;
  --clr-background: #3E3D3D;
  --clr-foreground: #FFFFFF;

  --clr-primary: #BECBF9;
  --clr-primary-dark: #A7B8F6;
  --clr-primary-light: #ECEFFD;

  --clr-secondary: #FD9D9B;
  --clr-secondary-dark: #FC817F;
  --clr-secondary-light: #FEE2E1;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --shadow-primary: 0 8px 16px 5px hsla(227, 83%, 86%, 0.28);
  --shadow-secondary: 0 4px 12px 3px hsla(240, 58%, 63%, 0.133);

  --clr-button-background: linear-gradient(45deg, #3B357D, #504D6E);

}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: #222;
  min-height: 100%;
  padding-top: env(safe-area-inset-top);
  /* padding-bottom: env(safe-area-inset-bottom); */
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: var(--font-base);
}

body {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  font-size: 1.6em;
  color: var(--clr-foreground);
  background: var(--clr-base-background);
}

a {
  color: inherit;
  text-decoration: none;
}


#__next {
  height: 100%;
  overflow: hidden;
}