.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
  flex-grow: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  width: 100%;
  background-color: transparent;
}