.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 3rem;
  flex-grow: 1;
}

.fullWidth {
  width: 100%;
  margin-bottom: 2rem;
}

.save {
  width: 100%;
  margin-top: 2rem;
  font-size: 2.2rem;
}