.footer {
  width: 100%;
  height: 8rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-shrink: 0;
  background-color: var(--clr-background);
}

.newButtonContainer {
  position: relative;
}

.newButton {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: -25%;
  z-index: 2;
  background: var(--clr-button-background);
  border: none;
}

.newButton svg {
  color: var(--clr-background);
  font-size: 3.6rem;
}

.navButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  background-color: transparent;
}

.navButton svg {
  font-size: 4rem;
}

.active {
  color: var(--clr-primary);
}