.heroContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* fallback for Js load */
  min-height: 100%;
  /* fallback for Js load */
  max-height: 100%;
  /* height: var(--doc-height); */
  /* fallback for Js load */
  /* height: var(--doc-height); */
  /* min-height: var(--doc-height); */
  /* max-height: var(--doc-height); */
  /* min-height: var(--doc-height); */
  overflow-y: hidden;
  flex-grow: 1;
  /* height: 100%; */
  padding-bottom: 20px;
}

.contentContainer {
  max-width: 160rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
}