.heroContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: var(--doc-height);
  min-height: var(--doc-height);
  max-height: var(--doc-height);
  overflow-y: hidden;
}

.contentContainer {
  max-width: 160rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
}