.navbar {
  background-color: var(--clrPrimary);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
}

.logo {
  border-radius: 50%;
  background-color: var(--clrPrimary);
  margin-right: 2rem;
}

.searchbar {
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  width: 28rem;
  background-color: var(--clrPrimaryDark);
  padding: 0 1.6rem;
  margin-left: auto;
}

.searchInput {
  border: none;
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  background-color: inherit;
}

.searchInput::placeholder,/* Chrome, Firefox, Opera, Safari 10.1+ */
.searchInput:-ms-input-placeholder,
.searchInput::-ms-input-placeholder{ 
  color: red;
  opacity: 1; /* Firefox */
}
