.listItem {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;

  background-color: var(--clr-background);
  margin: 0 0 0.2rem;
  /* min-height: 11rem; */
  box-shadow: var(--shadow-primary);
}

.listItem:nth-child(2n) {
  background-color: var(--clr-background-2);
}

.rowContent h3 {
  font-size: 2rem;
  font-family: var(--font-base);
  font-weight: 500;
  line-height: 1em;
}

.description {
  font-size: 1.4rem;
  font-weight: 500;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0.8rem;
  line-height: 1.4em;
}

.tagBox {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.tag {
  padding: 0.2rem 0.9rem;
  border-radius: 2rem;
  margin-right: 0.4rem;
  font-size: 1.2rem;
  color: var(--clr-secondary);
  border: 1px solid var(--clr-secondary);
  background-color: var(--clr-background);
}

.draggable {
  flex-grow: 1;
  width: 100%;
  transition: transform 0.3s;
  display: flex;
}

.draggable.open {
  transition: transform 0.3s;
  transform: translateX(-30%);
}

.rowContent {
  padding: 1.4rem 1.2rem;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---------------------- */

.details {
  max-height: 0;
  overflow: hidden;
  height: 6rem;
  transition: max-height 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid var(--clr-base-background);
  padding: 0 1.6rem;
}

.expanded {
  transition: max-height 0.2s;
  max-height: 10rem;
}

svg.detailsIcon {
  font-size: 3rem;
}

.navigate {
  height: 5rem;
  width: 5rem;
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.complete {
  height: 5rem;
  width: 5rem;
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 1.6rem;
  color: #3da03d;
}

.delete {
  outline: none;
  border: none;
  height: 5rem;
  width: 5rem;
  background-color: transparent;
  color: #fe4a4a;
}
